@using Infrastructure.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IViewLocalizer localizer

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <div class="action">
                <div class="profile">
                    <img src="~/img/Untitled-6.png">
                </div>
                <div class="menu">
                    @await Component.InvokeAsync("UserDropdown")
                    <ul>
                        <li class="user-menu"><a asp-controller="User" asp-action="Profile">@localizer["Profile"]</a></li>
                        <li>
                            <a href="#" id="logout-trick">
                                @localizer["Logout"]
                            </a>
                            <form id="logout" hidden class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button type="submit" class="btn text-standard">Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a asp-area="" asp-controller="Notification" asp-action="All">
                <img class="notification-icon" src="~/img/Untitled-7.png">
            </a>
        </li>
        @await Component.InvokeAsync("AdminCheck")
    }
    else
    {
        <div class="unsigned">
            <li class="nav-item nav-headline">
                <a class="text-standard" asp-area="" asp-controller="User" asp-action="Login">@localizer["Login"]</a>
            </li>
            <li class="nav-item nav-headline">
                <a class="text-standard" asp-area="" asp-controller="User" asp-action="Register">@localizer["Register"]</a>
            </li>
        </div>
    }
    <li>
        <form id="search-form" asp-controller="Movie" asp-action="All" method="post" class="form-inline my-2 my-lg-0">
            <div class="search">
                <input class="form-control mr-sm-2 searchbar" type="search" name="search" placeholder=@localizer["SearchBar"] aria-label="Search" />
                <i class="search-icon fa fa-search text-standard" style="font-size: 1.146vw"></i>
            </div>
        </form>
    </li>
</ul>

<script type="text/javascript">
    let logOutVisible=document.querySelector('#logout-trick');
    let profileElement=document.querySelector('.profile');
    let searchElement=document.querySelector('.search-icon');

    searchElement.addEventListener('click',()=>{
        let formElement=document.querySelector('#search-form');
        formElement.submit();
    })

    logOutVisible.addEventListener('click', ()=>{
        let logOutSubmitElement=document.querySelector('#logout');
        console.log(logOutSubmitElement);
        logOutSubmitElement.submit();
    })

    profileElement.addEventListener('click', menuToggle);

    function menuToggle() {
        const toggleMenu = document.querySelector('.menu');
        toggleMenu.classList.toggle('active');
    }


</script>