@if (ViewBag.IsLoggedIn)
{

    <div class="rate-wrapper">
        @if (ViewBag.HasRating)
        {
            <i class="fa fa-star text-standard rate-icon"></i>
            <p class="text-standard">@ViewBag.Rating/10</p>
            <button id="rate-toggle" class="btn-danger rated" hidden>8/10</button>
        }
        else
        {
            <i class="fa fa-star-o text-standard rate-icon"></i>
            <p class="text-standard">@ViewData["Rate"]</p>
            <button id="rate-toggle" class="btn-danger unrated" hidden>Rate</button>
        }
    </div>

    <div id="modal-div" class="modal-container" hidden>
        <div class="modal">
            <div class="star-div">
                @for (int i = 0; i < 10; i++)
                {
                    <i class="fa fa-star-o text-standard star-input" data-rating=@(i+1)></i>
                }
            </div>
            <i id="star-visualizer" class="fa fa-star text-standard"></i>
            <input id="rating-visualizer" disabled />
            <button id="modal-rate" hidden>@ViewData["Rate"]</button>
            <button id="close">X</button>
        </div>
    </div>
}

<script type="text/javascript">
    let inputElement=document.querySelector('#rating-input');

    let rateElement=document.querySelector('#modal-rate');
    let ratingVisualizerElement=document.querySelector('#rating-visualizer');

    rateElement.addEventListener('click', ()=>{
        let inputValue=ratingVisualizerElement.value;
        $.ajax({
        type: "POST",
        url: "@Url.Action("RateMovie")",
        data: { movieId: '@ViewBag.MovieId', value: Number(inputValue)}
        })
        .then((result)=>{
            let rating=JSON.stringify(result);
            rating=rating.substr(1, rating.length-2);
            let subInfoElement=document.querySelector('.sub-info');
            subInfoElement.textContent=` ${rating}/10 • @Math.Floor(Model.Duration.TotalHours) ч. @Model.Duration.Minutes мин. • @Model.ReleaseYear`

            let iconElement=document.createElement('i');
            iconElement.classList.add('fa');
            iconElement.classList.add('fa-star');

            subInfoElement.prepend(iconElement);
            console.log(rating);
            let ratingElement=document.querySelector('.rate-wrapper p');
            ratingElement.textContent=`${inputValue}/10`;
        })
        .fail((result)=>{
        let rating=JSON.stringify(result);
        let ratingElement=document.querySelector('.rate-wrapper p');
        ratingElement.textContent=`${inputValue}/10`;
        })
    })
</script>