@using Core.ViewModels.Movie
@model IEnumerable<ListMovieModel>

@{
    ViewData["Title"] = "All";
}

<h1>All</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container genre-box">
    <form asp-action="SearchByGenre">
    @foreach (var genre in ViewBag.Genres)
    {
        <div >
            <p>@genre.Name</p>
            <input name="genresSearch" type="checkbox" value=@genre.Id>
        </div>
    }
    <button type="submit" value="SearchByGenre">Search</button>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageUrl)
                </td>
                @foreach (string g in item.Genres)
                {
                    <td>
                        @g
                    </td>
                }
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
