@using Core.ViewModels.Movie
@model IEnumerable<ListMovieModel>

@{
    ViewData["Title"] = "All";
}
<link rel="stylesheet" href="~/css/movies.css" />
<link rel="stylesheet" href="~/css/profile.css" />

<div class="container genre-box">
    <form asp-action="SearchByGenre">
        <ul class="genre-list">
            @foreach (var genre in ViewBag.Genres)
            {
                <li>

                    <div class="genre-div">
                        <input name="genresSearch" class="genre-check" type="checkbox" value=@genre.Id>
                        <p>@genre.Name.ToUpper()</p>
                    </div>
                </li>
            }
            <button type="submit" value="SearchByGenre">Търсене</button>
        </ul>
    </form>
</div>

<div id="movie-container" class="card-deck d-flex justify-content-center movie-container">
    @foreach (var item in Model)
    {
        <div class="card mb-4 movie">
            <img class="movie-poster" src=@item.ImageUrl />
            <div class="movie-info" hidden>
                <h2 class="text-information movie-headline"><a class="text-information movie-headline movie-a" asp-controller="Movie" asp-action="Details" asp-route-id=@item.Id>@item.Title</a></h2>
                <div class="info-subdiv">
                    <p class="text-information movie-text">Година: @item.ReleaseYear</p>
                    <p class="text-information movie-text">Времетраене: @Math.Floor(item.Duration.TotalMinutes) мин.</p>
                    <p class="text-information movie-text">Жанр: @string.Join(", ", item.Genres)</p>
                </div>
                <h3 class="text-information rating-info"><i class="fa fa-star"></i>  @($"{item.Rating:f1}")/10</h3>
            </div>
        </div>
    }
</div>

<script src="~/js/movieCard.js" type="module"></script>
