@using Core.ViewModels.Movie
@model IEnumerable<ListMovieModel>

@{
    ViewData["Title"] = "All";
    ListMovieModel[] movies = Model.ToArray();
}
<link rel="stylesheet" href="~/css/movies.css" />
<link rel="stylesheet" href="~/css/profile.css" />

<div class="container genre-box">
    <form asp-action="All">
        <ul class="genre-list">
            @foreach (var genre in ViewBag.Genres)
            {
                <li>

                    <div class="genre-div">
                        <input name="genresSearch" class="genre-check" type="checkbox" value=@genre.Id>
                        <p>@genre.Name.ToUpper()</p>
                    </div>
                </li>
            }
            <button type="submit" value="SearchByGenre">Търсене</button>
        </ul>
    </form>
</div>

<div class="movie-wrapper">
    @for (int i = ViewBag.ActivePage * ViewBag.PageLimit; i < ViewBag.PageLimit * (ViewBag.ActivePage + 1) && i < movies.Length; i++)
    {
        <div class="card mb-4 movie" style="display: inline-grid">
            <img class="movie-poster" src=@movies[i].ImageUrl />
            <div class="movie-info" hidden>
                <h2 class="text-information movie-headline"><a class="text-information movie-headline movie-a" asp-controller="Movie" asp-action="Details" asp-route-id=@movies[i].Id>@movies[i].Title</a></h2>
                <div class="info-subdiv">
                    <p class="text-information movie-text">Година: @movies[i].ReleaseYear</p>
                    <p class="text-information movie-text">Времетраене: @Math.Floor(movies[i].Duration.TotalMinutes) мин.</p>
                    <p class="text-information movie-text">Жанр: @string.Join(", ", movies[i].Genres)</p>
                </div>
                @if (@movies[i].Rating > 0)
                {
                    <h3 class="text-information rating-info"><i class="fa fa-star"></i>  @($"{movies[i].Rating:f1}")/10</h3>
                }
            </div>
        </div>
    }
</div>
@*</div>*@

<partial name="_PaginationPartial" />

<script src="~/js/movieCard.js" type="module"></script>
