@using Core.ViewModels.Movie
@model MovieDetailsModel;

@{
    ViewData["Title"] = "Details";
}

<script src="~/js/rating.js" type="module"></script>

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Actors)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Actors)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Director)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Director)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
    </dl>
</div>
<partial name="_FavouriteMoviePartial">
    @*<div class="rate-div">
        @for (int i = 0; i < 10; i++)
        {
            <button class=btn-primary value=@(i+1)>@(i+1)</button>
        }
        <input id="rating-input" disabled="true" value="">
        <button id="rate" disabled="true">Rate</button>
    </div>*@
<partial name="_RateMoviePartial"></partial>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
