@using Core.ViewModels.Movie;
@using Core.ViewModels.Projection;

@{
    ViewData["Title"] = "Create";
    int[] seatsTaken = ViewBag.SeatsTaken;
    ListMovieModel movie = ViewBag.Movie;
    ListProjectionModel projection = ViewBag.Projection;
}

<link rel="stylesheet" href="~/css/ticket.css" />

<div class="headline-div">
    <img class="headline-icon" src="~/img/headline.png" />
    <p class="text-standard headline">КУПУВАНЕ НА БИЛЕТ</p>
</div>

<div class="projection-wrapper">
    <div class="img-wrapper">
        <img src=@movie.ImageUrl />
    </div>
    <div class="info-div">
        <p class="text-standard">@movie.Title</p>
        <p class="text-standard">Дата: @projection.Date.ToString("dd.MM")</p>
        <p class="text-standard">Час: @projection.Date.ToString("HH:mm")</p>
        <p class="text-standard">Цена: @projection.Price.ToString("F2") лв.</p>
        <p class="text-standard">Аудио: @projection.Sound</p>
    </div>
</div>

<div class="ticket-container">
    <ul class="showcase">
        <li>
            <div class="seat"></div>
            <small>Свободно</small>
        </li>
        <li>
            <div class="seat selected">
                <small>Избрано</small>
            </div>
        </li>
        <li>
            <div class="seat sold"></div>
            <small>Продадено</small>
        </li>
    </ul>
    <div class="seats-container">
        <div class="screen"></div>
        <div class="seats-wrapper">
            <form asp-action="Buy">
                @for (int i = 0; i < 8; i++)
                {
                    <div class="row">
                        @for (int j = 0; j < 8; j++)
                        {
                            int currentValue = (i * 8 + j) + 1;

                            if (seatsTaken.Contains(currentValue))
                            {
                                <div class="seat sold"></div>
                            }
                            else
                            {
                                <div class="seat free"><input hidden name="seats" type="checkbox" value=@currentValue /></div>
                            }
                        }
                    </div>
                }
                <input type="hidden" name="projectionId" value=@ViewBag.ProjectionId />
                <input type="hidden" name="userId" value=@ViewBag.UserId />
                <button id="buy-button" type="submit" value="Buy">Купи</button>
            </form>
            
        </div>
    </div>
    <p id="info" class="text-information">
        Избрали сте <span id="count">0</span> места за цена <span id="total">0</span> лв.
    </p>
    <p id="price" hidden>@((double)projection.Price)</p>
</div>

<script src="~/js/ticket.js" type="module"></script>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
