@using Core.ViewModels.Projection
@using Core.ViewModels.Movie
@model IEnumerable<ListProjectionModel>

@{
    ViewData["Title"] = "List";
    DateTime date = ViewBag.Date;
    ListMovieModel[] movies = ViewBag.Movies;
}

<link rel="stylesheet" href="~/css/program.css" />

<div class="headline-div">
    <img class="headline-icon" src="~/img/headline.png" />
    @if (ViewBag.Date == @DateTime.Today)
    {

        <p class="text-standard headline">ПРОГРАМА ЗА ДНЕС</p>
    }
    else
    {
        <p class="text-standard headline">ПРОГРАМА ЗА @date.ToString("dd.MM")</p>
    }
</div>

<form class="date-input" style="display:inline" asp-controller="Projection" asp-action="All">
    <input type="date" id="projectionDate" value=@date.ToString("yyyy-MM-dd") name="date">
</form>

<table class="table">
    <tbody>
        <div class="movie-div">
            @for (int i = ViewBag.ActivePage * ViewBag.PageLimit; i < ViewBag.PageLimit * (ViewBag.ActivePage + 1) && i < movies.Length; i++)
            {
                <div class="col-md-12 movie-row text-standard">
                    <img class="movie-poster" src=@ViewBag.Movies[i].ImageUrl />
                    <div class="projection-info">
                        <p class="projection-title"><a class="text-standard" asp-controller="Movie" asp-action="Details" asp-route-id=@movies[i].Id>@movies[i].Title</a><p>
                            <br>
                        <p class="movie-text">@string.Join(", ", movies[i].Genres)</p>
                        <br>
                        <p class="movie-text">@Math.Floor(movies[i].Duration.TotalMinutes) минути</p>
                        <br>
                                @if (movies[i].Rating > 0)
                                {
                                    <p class="movie-text"><i class="fa fa-star"></i> @($"{movies[i].Rating:f1}")/10</p>
                                }
                        <br>
                        <div class="btn-group projection-group" role="group">
                                    <ul>
                                        @foreach (var projection in Model.Where(p => p.MovieId == movies[i].Id).OrderByDescending(p => p.Date))
                                        {
                                            <li>
                                                @if (projection.TicketsAvailable > 0 && projection.Date>DateTime.Today)
                                                {
                                                    @using (Html.BeginForm("Create", "Ticket", new { id = projection.Id }))
                                                    {
                                                        <div class="format-wrapper">
                                                            <p class="projection-format">@projection.Format</p>
                                                        </div>
                                                        <button class="btn btn-danger tooltipC">
                                                                    @projection.Date.ToString("HH:mm", System.Globalization.CultureInfo.InvariantCulture)
                                                                    <p class="tooltiptext">@projection.Price лв.</p>
                                                        </button>
                                                    }
                                                }
                                                else
                                                {
                                                    <p class="projection-format">@projection.Format</p>
                                                    <button class="btn btn-danger disabled tooltipC">
                                                                @projection.Date.ToString("HH:mm", System.Globalization.CultureInfo.InvariantCulture)
                                                                <p class="tooltiptext">Билетите са изчерпани</p>
                                                    </button>
                                                }
                                           </li>
                                        }
                                    </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </tbody>
</table>

<partial name="_PaginationPartial" />

<script src="~/js/Program.js" type="module" />