@using Core.ViewModels.User
@model IEnumerable<UserListModel>

@{
    UserListModel[] users = Model as UserListModel[];
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">@ViewData["Names"]</th>
            <th scope="col">@ViewData["Email"]</th>
            <th scope="col">@ViewData["Options"]</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = ViewBag.ActivePage * ViewBag.PageLimit; i < ViewBag.PageLimit * (ViewBag.ActivePage + 1) && i < users.Length; i++)
        {
            <tr>
                <td>@users[i].FullName</td>
                <td>@users[i].Email</td>
                <td>
                    <a asp-area="Admin" asp-action="Edit" asp-controller="User" asp-route-id="@users[i].Id" class="btn btn-block btn-outline-info btn-xs">@ViewData["EditButton"]</a>
                    <a asp-area="Admin" asp-action="Roles" asp-controller="User" asp-route-id="@users[i].Id" class="btn btn-block btn-outline-warning btn-xs">@ViewData["RoleButton"]</a>
                    <a asp-area="Admin" asp-action="Delete" asp-controller="User" asp-route-id="@users[i].Id" class="btn btn-block btn-outline-danger btn-xs">@ViewData["DeleteButton"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_PaginationPartial" />