@using Core.ViewModels.User
@model UserProfileModel
@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

<p>Name: @Model.FirstName @Model.LastName</p>
<p>Email: @Model.Email</p>

<div class="wrapper" style="color: lightblue">
    <h3>Upcoming tickets</h3>
    @foreach (var t in ViewBag.Tickets)
    {
        <p>@t.MovieTitle @t.Date.ToString("dd.MM") @t.Seat</p>
    }
</div>