@using Core.ViewModels.User
@model UserProfileModel
@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

<p>Name: @Model.FirstName @Model.LastName</p>
<p>Email: @Model.Email</p>

<div>
    <h3>Favourite movie</h3>
    <ul>
        @foreach (var f in ViewBag.Favourites)
        {
            <li>@f.Title</li>
            <li>@f.Rating.ToString("F1")</li>
            <li>@f.Duration</li>
            <li>@string.Join(", ",f.Genres)</li>
        }
    </ul>
</div>

@*<div class="wrapper" style="color: lightblue">
    <h3>Upcoming tickets</h3>
    @foreach (var t in ViewBag.Tickets)
    {
    <p>@t.MovieTitle @t.Date.ToString("dd.MM") @t.Seat</p>
    }
    </div>*@